<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="padding: 80px;">

		<header style="margin-top: 150px;">
				<div class="container">
				<div id="brandname" style="text-align: center;">
					<!--  -->
				</div>
				<h2 style = "text-align: center;">LIVE-TEXTBOOK</h2>
				
			</div>
			</header>
    
    <div style="text-align: center">
	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<!-- <p>Enter the Message name Here</p> -->
		<!-- <input type="text" name="comment"/> -->
		<input id="demo" type="text" placeholder="Enter the name of a book" name="message" style="text-align: center;border-radius: 15px;height: 30px;width: 50%;padding: 10px;"></input>
		<br/>

		<input type="submit" class="btn-info" value="QnA" style="height: 30px;border-radius: 10px;width: 100px;text-align: center;padding: 5px;margin-top: 20px;">
		
	</form>
		
	</div>
	
	<div class="av_books">
		<h3 style="margin-top: 50px;">Available Books</h3>
			{%for i in books:%}
			<h5 id="data_books" onclick="myFunction()">{{i}}</h5>
			{% endfor %}

	</div>
</div>





</body>
</html>